.console{
	width: 100%;
	margin:0;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	color:white;
}	

.console1{
	float:left;
	position:relative;
	width:33%;
	margin-top: 4%;
	height:480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}

.curs{
	margin-top: 15%;
}

.aflacurs, .exchange{
	margin-top: 1%;
	background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.aflacurs:hover,.aflacurs:active, .aflacurs:focus {
  background: #333;
}

.console2{
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	position:relative;
	width:33%;
	margin-top: 4%;
	height:480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}

.ex{
	margin-top: 5%;
}

.console3{
	float: right;
	position:relative;
	width:32%;
	margin-top: 4%;
	height:480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}